body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.rectangle_blue{
  background-color:blue;
  height:100px;
  width:200px;
  margin: 3px;
  text-align: center;
}
.circle_shape{

  height:100px;
  width:100px;
  border-radius: 100%;
  background-color: yellow;
  margin: 3px;
  text-align: center;
} */


section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}

/* Application Form */
/* 
body{

  background-color: #f1e7bafc;
  text-align: left;

}

.formInputs{

  margin-left:20px;
  margin-top: 10px;

}
.label{
  margin-left:-135px;
  font-weight: 500;
  margin-bottom:2px
}

.form_header{
  background-color: #4e070778;
  border-radius: 82px;
  padding: 11px;
  border:1px solid #f3bdbd8f;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

h5{
  margin-top: 21px;
  color:white;
  
}

.card{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  background-color: #f3bdbd8f;
  overflow-wrap: break-word;
  margin-bottom: 30px;
}

input{

  margin-left:25px;
}

b{
  margin-left:-86px;
}

#form_input{
margin-left:32px;
}

.radio_label{

  margin-left:-216px;

}

.food{
  overflow-wrap:break-word;
  font-weight: bold;
}

.check_label{
  margin-left: -140px;
}
button{
  width: 101px;
    margin-left: -109px;
    margin:4px;
    margin-top: 25px;
    margin-bottom:20px;
} */